.wrap {
  background: #EFEFEF;  /* fallback for old browsers */
  background: -webkit-radial-gradient(circle,#EFEFEF, #536976);  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(circle, #EFEFEF, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.share-container {
  display: grid;
  justify-content: center;
  width:375px;
}

.box {
    width: 75px;
    height: 7px;
    background-color: #253447;
  }

.text_box {
    color: #253447;
    font-family: serif;
    margin: 20px;
}

.title {
  display: flex;
  font-family: Arial;
  color: #253447;
  justify-content: center;
  margin: 15px;
}

.social_box {
  margin:5px;
  margin-top: 20px;
}

.share_text {
    color: #253447;
    font-family: serif;
    margin: 25px;
    text-align: left;
}

.share_btn {
  display: grid;
  background-color: #7ea2bd;
  color: #fff;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  height: 35px;
  margin-left:25px;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);      
}

.btn_container{
  display: flex;
  margin-bottom:20px;
}

.convo {
  margin-bottom: -10px;
}