.wrap {
  background: #EFEFEF;  /* fallback for old browsers */
  background: -webkit-radial-gradient(circle,#EFEFEF, #536976);  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(circle, #EFEFEF, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.idea-container {
  display: grid;
  justify-content: center;
  background: white;
  box-sizing: border-box;
  width: 375px;
}

.img-container {
  width: 375px;
}

.about-pic {
  width: 375px;
  margin-top: 30px;
}


.profile {
    float: left;
    font-family: Arial;
    color: #253447;
    margin: 20px 20px 15px 30px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
}


.header_title {
    display: flex;
    justify-content: flex-start;
}

.header_subtitle {
  display: flex;
  justify-content: flex-start;
  font-size: large;
  margin-top:-10px;
}

.smaller_title {
  margin-top: -10px;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
}

.donate_btn {
    background-color: #ee233d;
    color: #fff;
    width: 355px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: Arial;
    font-weight: bold;
    margin: 10px;
}

a:-webkit-any-link{
    text-decoration:none !important;
    }

.box {
    width: 75px;
    height: 7px;
    background-color: #253447;
  }


.paragraph-box {
    color: #253447;
    font-family: serif;
    margin: 40px;
}

.title {
  display: flex;
  font-family: Arial;
  color: #253447;
  justify-content: center;
  margin: 15px;
}

.social_box {
  margin:5px;
  margin-top: 20px;
}

.website {
  color: #7ea2bd;
  font-size: 2.3em;
  margin-top: 5px;
  font-family: serif;
  margin-bottom: 10px;
}

.sub_text {
  font-family: serif;
  font-size: small;
}
