.wrap {
    background: #EFEFEF;  /* fallback for old browsers */
    background: -webkit-radial-gradient(circle,#EFEFEF, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient(circle, #EFEFEF, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.camp-container {
    display: grid;
    justify-content: center;
}

.campaign-text {
    margin-left: 280px;
    padding: 15px;
    font-family: sans-serif;
    color: #fff;
    font-size: x-small;
    z-index: 3;
    position: absolute;
}

.form-container {
    background: white;
}

.profile-cover {
    width: 375px;
    z-index: 1;
    position: relative;
}

.profile-headshot {
    display: flex;
    margin-left: 30px;
    margin-top: -64px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: solid 2px #e5e5e5;
    position: absolute;
    z-index: 5;
}

.display-name {
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-start;
    margin-right: 40px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #253447;
    font-weight: bold;
    font-size: x-large;
}

.form-box {
    margin: 30px;
    box-sizing: border-box;
}

.submit_btn{
    color: #fff;
    background-color: #e6233d;
    margin-top: 15px;
    width: 375px;
    height: 50px;
    font-family: Arial;
    font-size: 1.3em;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    text-shadow: none;
}

.form-UI {
    box-sizing: border-box;
    margin: 2px 55px;  
}

.img-button {
    box-sizing: border-box;
    margin: 20px 55px; 
}