.wrap {
    background: #EFEFEF;  /* fallback for old browsers */
    background: -webkit-radial-gradient(circle,#EFEFEF, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient(circle, #EFEFEF, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  
.about-container {
    display: grid;
    justify-content: center;
    background: white;
    box-sizing: border-box;
    width: 375px;
}

.circle-3x {
    width: 375px;
    height: 210px;
    background-color: #253447;
    margin-top: -40px;
    color: white;
}

.pad-container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}


.dotted-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: dotted 3px white;
    font-size: xx-large;
	padding: 16px;
}

.solid-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 3px white;
    font-size: xx-large;
	padding: 16px;
}

.para-circle-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-small;
    width: 375px;
}

.para-circle-text p {
    width: 80px;
    margin-top: -13px;
}

.about-video {
    width: 375px;
    height: 213px;
    background-color: black;
    margin-top: -10px;
}

.countries-subtitles {
    display: flex;
    justify-content: space-between;
    width: 265px;
    color: #253447;
    font-family: serif;
    text-align: left;
    margin-top: -30px;
}

.box {
    width: 75px;
    height: 7px;
    background-color: #253447;
}

.para-wrap {
    margin-top: -40px;
}

.para-header {
    width: 350px;
    color: #e6233d;
    font-family: serif;
    margin-left: 40px;
    margin-bottom: -35px;
    text-align: left;
}

.paragraph-box {
    width: 310px;
    color: #253447;
    font-family: serif;
    text-align: left;
}

.title {
    width: 310px;
    display: flex;
    font-family: Arial;
    color: #253447;
    justify-content: center;
    margin: 15px;
}

.sub_text {
    font-family: serif;
    font-size: small;
  }

.values-img {
    display: inline-block;
    color: #e6233d;
    font-family: serif;
    padding: 18px;
}

.email-container {
    width: 375px;
    height: 170px;
    background-color: #253447;
}

.email-header {
    width: 300px;
    color: white;
    padding-top: 20px;
    font-family: serif;
    font-family: large;
    font-weight: lighter;
}

.email {
    height: 20px;
    border: 2px solid #e5e5e5;
}

.icon-submit {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 60px;
    height: 26px;
    cursor: pointer;
}