.wrap {
    background: #EFEFEF;  /* fallback for old browsers */
    background: -webkit-radial-gradient(circle,#EFEFEF, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient(circle, #EFEFEF, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  
.about-container {
    display: grid;
    justify-content: center;
    background: white;
    box-sizing: border-box;
    width: 375px;
}


.box {
    width: 75px;
    height: 7px;
    background-color: #253447;
}

.para-wrap {
    margin-top: -40px;
}

.para-header {
    color: #e6233d;
    font-family: serif;
    margin-left: 40px;
    margin-bottom: -35px;
    text-align: left;
}

.paragraph-box {
    color: #253447;
    font-family: serif;
    margin: 40px;
    text-align: left;
}

.title {
    display: flex;
    font-family: Arial;
    color: #253447;
    justify-content: center;
    margin: 15px;
}

.sub_text {
    font-family: serif;
    font-size: small;
  }

.values-img {
    display: inline-block;
    color: #e6233d;
    font-family: serif;
    padding: 18px;
}