.wrap {
    background: #EFEFEF;  /* fallback for old browsers */
    background: -webkit-radial-gradient(circle,#EFEFEF, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient(circle, #EFEFEF, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
}

.main_container{
    width:375px;
    background: white;
}

.explore_btn {
    color: #fff;
    background-color: #7ea2bd;
    width: 325px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px 45px 10px;
    font-family: Arial;
    font-weight: bold;
}




